<td class="label-wrapper"><label><%- manufacturer %></label></td>
<td class="label-wrapper"><label><%- modelOfCar %></label></td>
<td class="label-wrapper"><label><%- dateOfManufacture %></label></td>
<td class="label-wrapper"><label><%- inStock ? "Yes" : "No" %></label></td>
<td class="label-wrapper"><label><%- photo && photo !== "" ? "Yes" : "No" %></label></td>
<td class="label-wrapper"><label><%- licensePlate %></label></td>
<td class="label-wrapper"><label>(<%- geoLocationLat %>, <%- geoLocationLong %>)</label></td>
<td><button class="destroy">X</button></td>
