<div class="container cars-collection-wrapper">
    <div class="theme">
        <div class="nav-controls">
            <a href="javascript;" class="pull-left" id="inStock-filter-link">In Stock Only</a>
            <a href="javascript;" class="pull-left" id="all-filter-link">All</a>
            <a href="javascript;" class="pull-right map-link">Show Map</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Manufacturer</th>
                    <th>Car Model</th>
                    <th>Date of manufacture</th>
                    <th>In Stock</th>
                    <th>Has Photo</th>
                    <th>License plate</th>
                    <th>Geo Location <br/>(Lat, Long)</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody class="cars-items-wrapper">
            </tbody>
        </table>
    </div>
</div>


